[req]
distinguished_name=req_distinguished_name
req_extensions=v3_req
prompt=no

[req_distinguished_name]
CN=youtube-ui.l.google.com

[v3_req]
subjectAltName=@alt_names

[alt_names]
DNS.1=youtube-ui.l.google.com
